.topnav {
    /* display: flex;
    flex-direction: column; */
}

.topnav ul {
    list-style-type:none;
    text-align: center;
}

.topnav ul li {
    display: inline-block;
}

.topnav ul li a {
    color:crimson;
}

#content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#tabcontent {
    width: 650px;
    border: solid 1px black ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foodpics img{
    width: 450px;
}