.topnav {
    /* display: flex;
    flex-direction: column; */
}

.topnav ul {
    list-style-type:none;
    text-align: center;
}

.topnav ul li {
    display: inline-block;
}

.topnav ul li a {
    color:crimson;
}

.topnav ul li a:hover, a:focus {
    font-size: larger;
    color:blueviolet;
}

#content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#tabcontent {
    width: 650px;
    border: solid 1px black ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#foodpics img{
    width: 450px;
}

#menu {

}

.jumbo {
    text-align: center;
    font-size: 48px;
}

.info-section {
    padding-left: 32px;
    padding-right: 32px;
    width:100%;
    box-sizing: border-box;
}

.menu-right {
    float: right;
}

.menu-description {
    font-size:24px;
    color: gray;
}

#appetizers {
    border: solid 1px blue;

}

#menu h1 {
    border: dashed 1px gray;
}

#contact-tab {
    width:100%;
}